# Dependencias
node_modules/

# Compilación / Producción
dist/
dist-ssr/

# Logs y temporales
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.local
.env.*.local
